body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-image: url(img/fondo\ c.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0;
    padding: 0;
}

header {
    background-color: aqua;
    color: plum;
    text-align: center;
    padding: 5px
}

header img {
    max-width: 100px;
}

header h1 {
    font-size: 50px;
}

.menu {
   display: flex;
}

.menu li {
    margin-right: 10px;
 }

 .frase {
    text-align: center;
    text-decoration: antiquewhite;
    text-decoration: underline;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 24px;
  }

  .catalogo { 
    text-align: center;
    background-color: azure;
    padding: 20px;
  }
  .catalogo ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
  }

  .catalogo img {
    max-width: 100%;
  }
 